//fist
.first-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
}

// top
.top-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.top-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.top-header-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.7rem;
}

.top-header-icon {
  width: 10%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 100vh;
  box-shadow: 0 0 2px var(--color-orange), 0 0 4px var(--color-orange), 0 0 6px var(--color-orange), 0 0 8px var(--color-orange), 0 0 10px var(--color-pink);
}

.top-header-name {
  font-size: 3.5rem;
  font-weight: 700;
}

.top-header-qr {
  width: 10%;
  height: auto;
}

.top-bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.top-bottom-title {
  font-size: 4rem;
  font-weight: 700;
  span {
    color: var(--color-orange);
  }
}

.top-bottom-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.top-bottom-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

//end
.end-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-animation-box {
  width: 30%;
}
